In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
data = pd.read_csv("Employee2.csv")
data

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,"$102,059",1,No,1/3/2012,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,"$157,718",0,Yes,1/4/2012,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,"$309,964",1,No,1/4/2012,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,"$293,132",0,No,1/5/2012,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,"$49,606",0,No,1/5/2012,Yes,6,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,467E-977A,Jud,Melanaphy,Male,20,Some Travel,Technology,28,CA,Black or African American,...,Single,"$38,508",0,No,12/26/2022,No,0,0,0,0
1466,6FB9-A624,Marc,Calver,Non-Binary,27,Some Travel,Technology,8,CA,Black or African American,...,Single,"$92,995",3,No,12/30/2022,No,0,0,0,0
1467,EBF4-5928,Rudolph,MacDearmont,Male,21,Some Travel,Sales,4,CA,Black or African American,...,Single,"$63,375",0,No,12/30/2022,No,0,0,0,0
1468,60E6-B1D9,Merill,Agg,Male,21,Some Travel,Technology,7,CA,Black or African American,...,Married,"$46,521",0,No,12/30/2022,No,0,0,0,0
1469,84D4-D4C3,Naoma,Hebbard,Female,20,No Travel,Technology,28,CA,Black or African American,...,Married,"$38,258",0,No,12/31/2022,No,0,0,0,0

In [3]:
data.describe()

,Age,DistanceFromHome (KM),Education,StockOptionLevel,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,28.989796,22.502721,2.912925,0.793878,4.562585,2.293197,3.440816,2.239456
std,7.993055,12.811124,1.024165,0.852077,3.288048,2.539093,2.945194,2.505774
min,18.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,12.000000,2.000000,0.000000,2.000000,0.000000,1.000000,0.000000
50%,26.000000,22.000000,3.000000,1.000000,4.000000,1.000000,3.000000,1.000000
75%,34.000000,33.000000,4.000000,1.000000,7.000000,4.000000,6.000000,4.000000
max,51.000000,45.000000,5.000000,3.000000,10.000000,10.000000,10.000000,10.000000

In [4]:
data.columns = data.columns.str.strip()
data["Salary"] = data["Salary"].replace('[\$,]', '', regex=True).astype(float)
print(data["Salary"].dtype)
data

float64

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059.0,1,No,1/3/2012,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718.0,0,Yes,1/4/2012,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964.0,1,No,1/4/2012,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132.0,0,No,1/5/2012,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606.0,0,No,1/5/2012,Yes,6,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,467E-977A,Jud,Melanaphy,Male,20,Some Travel,Technology,28,CA,Black or African American,...,Single,38508.0,0,No,12/26/2022,No,0,0,0,0
1466,6FB9-A624,Marc,Calver,Non-Binary,27,Some Travel,Technology,8,CA,Black or African American,...,Single,92995.0,3,No,12/30/2022,No,0,0,0,0
1467,EBF4-5928,Rudolph,MacDearmont,Male,21,Some Travel,Sales,4,CA,Black or African American,...,Single,63375.0,0,No,12/30/2022,No,0,0,0,0
1468,60E6-B1D9,Merill,Agg,Male,21,Some Travel,Technology,7,CA,Black or African American,...,Married,46521.0,0,No,12/30/2022,No,0,0,0,0
1469,84D4-D4C3,Naoma,Hebbard,Female,20,No Travel,Technology,28,CA,Black or African American,...,Married,38258.0,0,No,12/31/2022,No,0,0,0,0

In [5]:
print(data.isnull().sum())

EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [6]:
print(data.duplicated().sum())

0

In [7]:
data["HireDate"] = pd.to_datetime(data["HireDate"], errors="coerce")
data["FirstName"] = data["FirstName"].str.strip().str.capitalize()
data["LastName"] = data["LastName"].str.strip().str.capitalize()
data

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059.0,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718.0,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964.0,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132.0,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606.0,0,No,2012-01-05,Yes,6,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,467E-977A,Jud,Melanaphy,Male,20,Some Travel,Technology,28,CA,Black or African American,...,Single,38508.0,0,No,2022-12-26,No,0,0,0,0
1466,6FB9-A624,Marc,Calver,Non-Binary,27,Some Travel,Technology,8,CA,Black or African American,...,Single,92995.0,3,No,2022-12-30,No,0,0,0,0
1467,EBF4-5928,Rudolph,Macdearmont,Male,21,Some Travel,Sales,4,CA,Black or African American,...,Single,63375.0,0,No,2022-12-30,No,0,0,0,0
1468,60E6-B1D9,Merill,Agg,Male,21,Some Travel,Technology,7,CA,Black or African American,...,Married,46521.0,0,No,2022-12-30,No,0,0,0,0
1469,84D4-D4C3,Naoma,Hebbard,Female,20,No Travel,Technology,28,CA,Black or African American,...,Married,38258.0,0,No,2022-12-31,No,0,0,0,0

In [8]:
Q1 = data["Age"].quantile(0.25)
Q3 = data["Age"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data["Age"] < lower_bound) | (data["Age"] > upper_bound)]

print("Number of outliers in Age:", len(outliers))
print(outliers[["EmployeeID", "Age"]])
numeric_cols = data.select_dtypes(include=["int64", "float64"]).columns

for col in numeric_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    
    print(f"Column: {col}")
    print(f"Outliers count: {len(outliers)}")
    if len(outliers) > 0:
        print(outliers[[col]].head())  
    print("-"*40)

Number of outliers in Age: 1
     EmployeeID  Age
1185  08AC-30AB   51
Column: Age
Outliers count: 1
      Age
1185   51
----------------------------------------
Column: DistanceFromHome (KM)
Outliers count: 0
----------------------------------------
Column: Education
Outliers count: 0
----------------------------------------
Column: Salary
Outliers count: 124
      Salary
2   309964.0
3   293132.0
12  340229.0
15  316208.0
24  328415.0
----------------------------------------
Column: StockOptionLevel
Outliers count: 85
     StockOptionLevel
66                  3
78                  3
92                  3
98                  3
126                 3
----------------------------------------
Column: YearsAtCompany
Outliers count: 0
----------------------------------------
Column: YearsInMostRecentRole
Outliers count: 0
----------------------------------------
Column: YearsSinceLastPromotion
Outliers count: 0
----------------------------------------
Column: YearsWithCurrManager
Outliers count: 0
----------------------------------------

In [9]:
Q1 = data['Age'].quantile(0.25)
Q3 = data['Age'].quantile(0.75)
IQR = Q3 - Q1

upper_limit = Q3 + 1.5 * IQR
lower_limit = Q1 - 1.5 * IQR

data = data[(data['Age'] >= lower_limit) & (data['Age'] <= upper_limit)]

In [11]:
Q1 = data['Salary'].quantile(0.25)
Q3 = data['Salary'].quantile(0.75)
IQR = Q3 - Q1

upper_limit = Q3 + 1.5 * IQR
lower_limit = Q1 - 1.5 * IQR

data['Salary'] = data['Salary'].clip(lower=lower_limit, upper=upper_limit)

/var/folders/nc/7c1k7tg930d6vjmzp7pf8yhh0000gn/T/ipykernel_978/437877746.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary'] = data['Salary'].clip(lower=lower_limit, upper=upper_limit)

In [12]:
Q1 = data["Age"].quantile(0.25)
Q3 = data["Age"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data["Age"] < lower_bound) | (data["Age"] > upper_bound)]

print("Number of outliers in Age:", len(outliers))
print(outliers[["EmployeeID", "Age"]])
numeric_cols = data.select_dtypes(include=["int64", "float64"]).columns

for col in numeric_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    
    print(f"Column: {col}")
    print(f"Outliers count: {len(outliers)}")
    if len(outliers) > 0:
        print(outliers[[col]].head())  
    print("-"*40)

Number of outliers in Age: 0
Empty DataFrame
Columns: [EmployeeID, Age]
Index: []
Column: Age
Outliers count: 0
----------------------------------------
Column: DistanceFromHome (KM)
Outliers count: 0
----------------------------------------
Column: Education
Outliers count: 0
----------------------------------------
Column: Salary
Outliers count: 0
----------------------------------------
Column: StockOptionLevel
Outliers count: 85
     StockOptionLevel
66                  3
78                  3
92                  3
98                  3
126                 3
----------------------------------------
Column: YearsAtCompany
Outliers count: 0
----------------------------------------
Column: YearsInMostRecentRole
Outliers count: 0
----------------------------------------
Column: YearsSinceLastPromotion
Outliers count: 0
----------------------------------------
Column: YearsWithCurrManager
Outliers count: 0
----------------------------------------

In [15]:
data.to_csv("Cleaned_Employee_Data.csv", index=False)

data.to_excel("Cleaned_Employee_Data.xlsx", index=False)

print("✅ File saved successfully!")

✅ File saved successfully!